.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));  
    width: 80vw;
    height: calc(100vh- 60px);
    margin-top: 0.5rem ;
    margin-inline: auto;
    grid-auto-rows: auto;
}

.sidebar {
    border-radius: 10px;
    height: 88vh;
    width: calc(20vw - 7px);
    background-color:white;
    grid-column: span 1/auto;
    overflow-wrap:break-word;
}

.one {
    grid-row: 1;
}

.three {
    grid-row: 3;

}

.main {
    width: calc(40vw - 7px);
    height:88vh;
    background-color:white;
    border-radius: 10px;
    grid-column: span 2/auto;
    grid-auto-rows: auto;
}

.sidebar_avatar {
    margin-bottom: 10px;
}

.sidebar-leftup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

.sidebar-leftdown ul {
    list-style-type: none;
    text-align: center;
}

.sidebar-leftdown li {
    text-align: justify;    
}
@media screen and (max-width: 1200px) {

.sidebar {
    display:none;
}

.main {
    display: grid;
    width: 80vw;
}


};