body {
    background-color:rgba(0,121,211,0.2);
    width: 98vw;
    overflow-x: hidden;
}


.containerx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98vw;
    padding: 2vh 0px 0px 2vh;
    min-height: calc(100vh - 65px);
    gap: 1vw;
    margin-inline: auto;
}

.sidebar {
    position: sticky;
    border-radius: 20px;
    height: calc(96vh - 65px) ;
    width: 17vw;
    background-color:white;
    overflow-wrap:break-word;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.main {
    background-color:white;
    width: 100%;
    min-height: calc(96vh - 65px) ;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sidebar-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: inherit;
    text-align: center;
    padding-top: 2rem ;
}

.userpic {
    width: 65%;
    height: 19%;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.cardbody {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    min-height: calc(90vh) ;
    padding: 2vw;
}

.projectcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




/*
.one {
    grid-row: 1;
}

.main {
    width: calc(70vw - 7px);
    height:88vh;
    background-color:white;
    border-radius: 10px;
    grid-column: span 2/auto;
    grid-auto-rows: auto;
}

.sidebar_avatar {
    margin-bottom: 10px;
}

.sidebar-leftup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

.sidebar-leftdown ul {
    list-style-type: none;
    text-align: center;
}

.sidebar-leftdown li {
    text-align: justify;    
}

*/

@media screen and (max-width: 1200px) {

.sidebar {
    display:none;
}

.containerx {
    margin-inline: auto;
}

.main {
    margin-inline: auto;
    width: 90vw;
}

.main-content {
    margin-inline: auto;
}

.projectcards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

};