.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    height: 80vh;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0.3rem ;
}

.sidebar {
    top: 80px;
    border-radius: 10px;
    text-align: center;
    height: 85vh;
    width: calc(23vw - 5px);
    text-align: center;
    background-color:darkgray;
}

.main {
    width: calc(54vw - 5px);
    text-align: center;
    background-color:aqua;
    border-radius: 10px;
}

.sidebar_avatar {
    margin-bottom: 10px;
}

.sidebar_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightskyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}