.html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    height:100vh;
    width: 100vw;
    align-items: center;

}

.talk {
    padding: 5%;
    justify-content:center;
    width: 40%;
}

.bold-four {
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 1.5rem;
}

.showcase-img {
    background-image: url("../../Assets/homeimage.jpg");
    background-color: #F4F5FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 60vw;
    height: 60vh;
}

.det-ails {
    display: flex;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    align-items: center;
}