.addnew {
    min-height: calc(96vh - 65px);
}

.formdiv {
    width: 100vw;
    margin-inline: auto;
    height: calc(96vh - 65px);  
    display: flex; 
    align-items: center;
}

form {
    background-color: #fafafa;
    font-size: 16px;
    padding: 20px;
    height: 60vh;
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
  }
  
  form label {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
  }
  
  form input,
  form textarea {
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  textarea {
    min-height: 20%;
  }
  
  form input:hover,
  form textarea:hover {
    background-color: #eee;
    cursor: pointer;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 30%;
  }
  
  form button:hover {
    background-color: #444;
    cursor: pointer;
  }
  