/* projectsearch.css */

.wrapper {
    height: auto;
    min-height: 100vh;
    background-color: #f9f9f9; /* Deep dark background */
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-search-container {
    padding: 0px;
    color: #e0e0e0; /* Soft white text */
    width: 80vw;
    margin-inline: auto;
    animation: fadeIn 0.3s ease-in;
}

.project-search-header {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-weight: 600; /* Warm orange */
}

.search-bar-container {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    height: auto;
}

.search-bar-input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: black;
    font-size: 1rem;
    margin-right: 10px;
    outline: none;
    transition: all 0.3s ease;
    max-width: 50%;
    align-items: center;
}

.search-bar-input::placeholder {
    color: #b3b3b3;
}

.search-bar-input:focus {
    border-color: #006eff;
    background-color: #e9e9e9;
}

.search-bar-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #256CE1;
    color: white;
    font-size: 1rem;
    font-weight:normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar-button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;

}

.project-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}


.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.project-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #ff9800;
}

.project-author, 
.project-stack {
    font-size: 1rem;
    color: #bdbdbd;
    margin: 5px 0;
}

.loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #256CE1;
}

.error-message {
    text-align: center;
    font-size: 1.2rem;
    color: #f44336; /* Bright red */
}

.no-projects-message {
    text-align: center;
    font-size: 1.2rem;
    color: black;
}
